@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <img src="~/JoelHilton.jpg" />
    <p>Welcome to Joel Hilton's Ultimate Film Collection. I'm Joel Hilton (pictured above) and I love movies, so much that I created this website to help me keep track of them all. I also have a podcast all about movies. Check it out at the top.</p>
</div>
