@{
    ViewData["Title"] = "My Podcasts";
}
<h1>@ViewData["Title"]</h1>

<p>I love movies so much, I started a podcast about them with some friends.</p>
<p>The podcast is called BaconSale. Check it out at <a href="https://baconsale.com">https://baconsale.com</a>.</p>
